@{
    ViewBag.Title = "Home Page";
}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Disfrute de nuestro servicios</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Vender</a>
    </div>
</header>